<div class="flex flex-col w-[64px] items-center gap-2 bg-gray-50 border-r border-gray-200">
    <img class="mt-5" src="Icons/Project%20Avatar.svg"/>
    <div class="mt-5 mb-5">
        <img src="Icons/Search.svg"/>
    </div>
    <div class="flex flex-col gap-4">
        <button draggable="true" @ondragstart='e => OnDragStart(e, "regular")' class="p-2 rounded-lg hover:bg-gray-200 transition-colors duration-200">
            <img src="Icons/Home.svg"/>
        </button>
        <button draggable="true" @ondragstart='e => OnDragStart(e, "loop")' class="p-2 rounded-lg hover:bg-gray-200 transition-colors duration-200">
            <img src="Icons/Workflows.svg"/>
        </button>
        <button draggable="true" @ondragstart='e => OnDragStart(e, "if")' class="p-2 rounded-lg hover:bg-gray-200 transition-colors duration-200">
            <img src="Icons/Table.svg"/>
        </button>
        <button draggable="true" @ondragstart='e => OnDragStart(e, "regular")' class="p-2 rounded-lg hover:bg-gray-200 transition-colors duration-200">
            <img src="Icons/Apps.svg"/>
        </button>
        <button draggable="true" @ondragstart='e => OnDragStart(e, "loop")' class="p-2 rounded-lg hover:bg-gray-200 transition-colors duration-200">
            <img src="Icons/Connections.svg"/>
        </button>
        <button draggable="true" @ondragstart='e => OnDragStart(e, "if")' class="p-2 rounded-lg hover:bg-gray-200 transition-colors duration-200">
            <img src="Icons/History.svg"/>
        </button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<string> NodeDragStarted { get; set; }

    private async Task OnDragStart(DragEventArgs e, string nodeType)
    {
        await NodeDragStarted.InvokeAsync(nodeType);
    }
}
