<div class="flex flex-col w-[64px] items-center gap-2">
    <img class="mt-5" src="Icons/Project%20Avatar.svg"/>
    <div class="mt-5 mb-5">
        <img src="Icons/Search.svg"/>
    </div>
    <div class="flex flex-col gap-4">
        <button><img src="Icons/Home.svg"/></button>
        <button><img src="Icons/Workflows.svg"/></button>
        <button><img src="Icons/Table.svg"/></button>
        <button><img src="Icons/Apps.svg"/></button>
        <button><img src="Icons/Connections.svg"/></button>
        <button><img src="Icons/History.svg"/></button>
    </div>


</div>

@code {
    
}