<div class="flex flex-col w-[64px] items-center gap-2">
    <img class="mt-5" src="Icons/Project%20Avatar.svg"/>
    <div class="mt-5 mb-5">
        <img src="Icons/Search.svg"/>
    </div>
    <div class="flex flex-col gap-4">
        <img src="Icons/Home.svg"/>
        <img src="Icons/Workflows.svg"/>
        <img src="Icons/Table.svg"/>
        <img src="Icons/Apps.svg"/>
        <img src="Icons/Connections.svg"/>
        <img src="Icons/History.svg"/>
    </div>


</div>

@code {
    
}