@using MiniWorkflowBuilder.Models
@using MiniWorkflowBuilder.Services
@inject NodeEventService Events

<div class="bg-transparent card" @onclick="HandleClick">


    <h5 class="font-bold">@Node.Title</h5>

    @foreach (var port in Node.Ports)
    {
        <PortRenderer @key="port" Port="port"/>
    }
</div>

@code {
    [Parameter] public RegularNode Node { get; set; } = null!;
    [Parameter] public EventCallback<RegularNode> OnNodeClick { get; set; }

    private async Task HandleClick()
    {
        Events.RaiseNodeClicked(Node);
    }
}