
<div class="flex items-center justify-between bg-background p-4 w-full">
    <h1 class="font-bold text-2xl">My new workflow</h1>
    <h1 class="font-bold text-2xl">Right Side</h1>
</div>

@code {
    
}